body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #333538;
  color: white;
}

.header {
  padding: 10px 16px;
   margin-left: 160px;
  background: #262729;
  color: #f1f1f1;
}

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url(../../side.jpg);
    background-repeat:round;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }
  
  a:hover {
    color: black;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    a {font-size: 18px;}
  }